<html>
<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="/static/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Login</h1>
    
    <form action="/" method="POST">
        <input type="text" placeholder="Username" name="username" value=""> <br>
         <input type="password" placeholder="Password" name="password" value=""> <br>
        <input class="btn btn-default" type="submit" value="Login"> <br>
    </form>

    <p>Need an account? <a href="/registration">Register</a></p>

</body>