<html>
<head>
    <title>Create Account</title>
    <link rel="stylesheet" href="/static/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Registration</h1>
    
    <form action="/" method="POST">
        <input type="button" value="Back" name="goBack" onClick="history.back()"> <br>
        <input type="text" placeholder="First Name" name="firstname" value=""> <br>
        <input type="text" placeholder="Last Name" name="lastname" value=""> <br>
        <input type="text" placeholder="Username" name="username" value=""> <br>
         <input type="password" placeholder="Password" name="password" value=""> <br>
        <input class="btn btn-default" type="submit" value="Sign Up"> <br>
    </form>


</body>